main {
  padding: 30px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Orbitron;
    background-color: #fdfdfd;
    overflow-x: hidden;
  }
  
  #gdg-logo {
    width: 50px;
    height: auto;
  }
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.95); 
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .modal.show {
    display: flex;
  }
  
  .modal-content {
    background-color: #020305;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    color: #f9fafb;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  .modal-content input {
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #393a3b;
    color: #f3f4f6;
  }
  
  .modal-content input::placeholder {
    color: #9ca3af;
  }
  
  .modal-content button {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 12px 20px;
    margin: 10px 5px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .modal-content button:hover {
    background-color: #161618;
  }

  
  .modal-content button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
  }
  
  .modal-content button[type="submit"]:hover {
    background-color: #161618;
  }

  .checkbox-lgpd {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
  }
  
  .checkbox-lgpd input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #430000; 
    cursor: pointer;
    margin-top: 4px;
  }
  
  /* Cabeçalho */
  header {
    background-color: #000000;
    color: #fff;
    padding: 5px 0;
    position: sticky;
    top: 0;
  }
  
  .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 10px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;

  }
  
  .redes-sociais p{
    font-weight: bold;
  }
  
  #passados {
    font-family: Orbitron;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #1a1a1a; /* Preto leve */
    letter-spacing: 0.5px;
    text-align: center;
  }

  .quem-somos {
    background-color: #f5f5f5; /* Cinza bem claro, neutro e elegante */
    font-family: Arial, Helvetica, sans-serif;
    color: #000000; /* Preto suave */
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    
  }
 
  
  .container-quem-somos {
    max-width: 900px;
    width: 100%;
    padding: 20px;
  }
  
  .quem-somos h2 {
    font-family: Orbitron;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1a1a1a; /* Preto leve */
    letter-spacing: 0.5px;
  }
  
  .quem-somos p {
    font-size: 18px;
    line-height: 1.8;
    color: #444444; /* Cinza escuro */
  }

  .proximo-evento {
    background-color: #f9f9f9;
    padding: 100px 20px;
  }
  
  .container-evento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .info-evento {
    flex: 1;
    min-width: 300px;
  }
  
  .info-evento h2 {
    font-size: 40px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 40px;
  }
  
  .card-info {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
  }
  
  .card-info:hover {
    transform: translateY(-5px);
  }
  
  .card-info i {
    font-size: 30px;
    color: #0066ff;
  }
  
  .card-info h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .card-info p {
    font-size: 16px;
    color: #555;
  }
  
  .imagem-evento {
    flex: 1;
    min-width: 300px;
  }
  
  .imagem-evento img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }
  
  
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
  }
  
  .card {
    background: #f5f5f5(14, 94, 214, 0.8); /* Fundo escuro com transparência */
    border-radius: 15px;
    padding: 20px;
    color: #000000;
    text-decoration: none;
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  .card p {
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
  }
  
  .card:hover {
    transform: scale(1.1);
    background: rgba(0, 36, 67, 1.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }

  .galeria {
    padding: 60px 20px;
    text-align: center;
  }
  
  .galeria h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #010e1a;
  }
  
  .carousel {
    
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    padding: 15px 400px; /* Espaçamento lateral */
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
  .carousel-track img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 40px;
    /* filter: blur(2px); */
    transition: filter 0.5s ease, transform 0.5s ease;
    user-select: none;
    pointer-events: none;
    
  }
  
  .carousel-track img.active {
    filter: blur(0);
    /* transform: scale(1.); */
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(30, 31, 32, 0.7);
    color: #fff;
    border: none;
    margin-left: 1px;
    font-size: 2rem;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    transition: background 0.3s;
  }
  
  .prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 10px;
  }
  
  
  .organizadores {
    background-color: #ffffff; /* Branco clean */
    color: #1a1a1a;
    padding: 100px 20px;
    text-align: center;
  }
  
  .container-organizadores {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .organizadores h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    color: #1a1a1a;
  }
  
  .cards-organizadores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
  }
  
  .card-org {
    background-color: #f5f5f5;
    padding: 30px 20px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    position: relative;  /* ESSA LINHA RESOLVE */
    height: 100%;
  }
  
  .card-org:hover {
    transform: translateY(-5px);
  }
  
  .foto-organizador {
    width: 140px;              
    height: 140px;
    border-radius: 50%;        
    border: 4px solid #ddd;    
    display: flex;             
    justify-content: center;   
    align-items: center;
    overflow: hidden;          
    margin: 0 auto 15px auto;  
    transition: border-color 0.3s ease; 
  }
  
  .foto-organizador:hover {
    border-color: #727272;     
  }
  
  .foto-organizador img {
    width: 100%;               
    height: 100%;
    object-fit: cover;         
    border-radius: 50%;        
    transition: transform 0.3s ease; 
  }
  
  .foto-organizador img:hover {
    transform: scale(1.05);    
  }
  
  
  .card-org h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .card-org p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    font-style: bold;
  }

  .social-icons {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    
  }
  
  .social-icons a {
    color: #010e1a;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #0066ff;
  }
  

  #icone-flutuante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 1000;
}

#icone-flutuante:hover {
  background-color: #333;
  transform: scale(1.1);
}

  
  
  /* Rodapé */
  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 5px;
    width: 100%;
    bottom: 0;
  }
  